<div class="row">
  <div class="col-md-12 p-0">
    <div class="card-body bg-dark text-light d-flex flex-column">
      <div class="row">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <a routerLink="/" class = "link"><i class="fa fa-industry fa-2x"></i></a>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <h5>Novi Sad, Serbia</h5>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <h5>PIB: 2251651651651</h5>
        </div>
        <div class="col-md-3 d-flex justify-content-end align-items-center"><a class="btn btn-info" routerLink="/user"><i class="fa fa-user-o fa-2x"></i></a></div>
      </div>
    </div>
  </div>
</div>
