<div class="row m-1">
    <div class="col-md-1 d-flex justify-content-center align-items-center "><a class="btn btn-dark" routerLink="/order-products"><i class="fa fa-arrow-down"></i> Order </a></div>
    <div class="col-md-1 d-flex justify-content-center align-items-center "><a class="btn btn-dark" routerLink="/"><i class="fa fa-arrow-up"></i> Ship</a></div>
    <div class="col-md-1 d-flex justify-content-center align-items-center"><a class="btn btn-dark btn-block w-100 m-0 p-0 py-1" routerLink="/pending-orders"><i class="fa fa-file-text-o"></i>&nbsp;Orders (2)</a></div>
    <div class="col-md-1 d-flex justify-content-center align-items-center"></div>
    <div class="col-md-1 d-flex justify-content-center align-items-center"></div>
    <div class="col-md-1 d-flex justify-content-center align-items-center"></div>
    <div class="col-md-1"></div>
</div>