<div class="col-md-12 p-0 bg-info" style="">
  <div class="card">
    <div class="card-header d-flex justify-content-center align-items-center"> Warehouse 1</div>
    <div class="card-body">
      <h5 class="card-title"><b>Some product 1</b></h5>
      <h6 class="card-subtitle my-2 text-muted">Product id: 1222</h6>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Direction</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>OT</td>
            <td>U</td>
            <td>12</td>
            <td>$10.00</td>
            <td>$120.00</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>OT</td>
            <td>U</td>
            <td>12</td>
            <td>$10.00</td>
            <td>$120.00</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>OT</td>
            <td>U</td>
            <td>12</td>
            <td>$10.00</td>
            <td>$120.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
