<div class="row">
  <div class="col-md-12 p-0 bg-info" style="">
    <div class="card">
      <div class="card-header d-flex justify-content-center align-items-center">Pending orders</div>
      <div class="card-body">
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">Serial number</th>
                    <th scope="col" class="text-center">Date formed</th>
                    <th scope="col" class="text-center">Business partner</th>
                    <th scope="col" class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td class="text-center">G543423</td>
                    <td class="text-center">01/01/2019</td>
                    <td class="text-center">Company 1</td>
                    <td class="text-center"><a class="btn btn-info" routerLink="/pending-orders/1">Detalis</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td class="text-center">J43534534</td>
                    <td class="text-center">02/01/2019</td>
                    <td class="text-center">Company 2</td>
                    <td class="text-center"><a class="btn btn-info" routerLink="/pending-orders/2">Detalis</a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td class="text-center">H3453455</td>
                    <td class="text-center">03/01/2019</td>
                    <td class="text-center">Company 3</td>
                    <td class="text-center"><a class="btn btn-info" routerLink="/pending-orders/3">Detalis</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>